# Visual Studio
.vs/
bin/
obj/

# User-specific files
*.user
*.suo

# Build results
Debug/
Release/

# Test Results
TestResults/

# Logs
*.log

# Rider
.idea/

# VS Code
.vscode/

# NuGet packages
packages/